@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Robtot-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
